---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: Graphik, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #405261;
$text-color-light: #748494;
$text-heading-color: #071e57;

$background-color: #ffffff;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$media-query-small: 544px;
$media-query-medium: 768px;
$media-query-large: 992px;

// Import partials from the `minima` theme.
@import 'minima';

@font-face {
  font-family: Graphik;
  font-weight: 400;
  src: url('/assets/fonts/Graphik-Regular-Web.woff2');
}

@font-face {
  font-family: Graphik;
  font-weight: 500;
  src: url('/assets/fonts/Graphik-Medium-Web.woff2');
}

body {
  background: $background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weigth: $base-font-weight;
  color: $text-color;
}

h1,
h2,
h3 {
  font-color: $text-heading-color;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.1s;
  letter-spacing: -.35px;
}

h3 {
  font-size: 20px;
  color: $text-color-light;
}

@media screen and (min-width: $media-query-medium) {
  h1 {
    font-size: 40px;
    letter-spacing: -.5px;
  }
}

@media screen and (min-width: $media-query-large) {
  h1 {
    font-size: 46px;
  }
}

