---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Import partials from the `minima` theme.
@import 'minima';
@import 'variables';

@font-face {
  font-family: Graphik;
  font-weight: 400;
  src: url('/assets/fonts/Graphik-Regular-Web.woff2');
}

@font-face {
  font-family: Graphik;
  font-weight: 500;
  src: url('/assets/fonts/Graphik-Medium-Web.woff2');
}

body {
  background: $background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weigth: $base-font-weight;
  color: $text-color;
}

h1,
h2,
h3 {
  color: $text-heading-color;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.1s;
  letter-spacing: -.35px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -.2px;
}

h3 {
  font-size: 20px;
  color: $text-color-light;
}

@media screen and (min-width: $media-query-medium) {
  h1 {
    font-size: 40px;
    letter-spacing: -.5px;
  }
}

@media screen and (min-width: $media-query-large) {
  h1 {
    font-size: 46px;
    letter-spacing: -.6px;
  }
}

.site-header {
  height: 88px;
  border: none;
}

input,
select {
  width: 100%;
  margin-bottom: 15px;
  font-family: $base-font-family;
  font-size: 18px;
  background: white;
  border: 1px solid #A5B2BD;
  border-radius: 4px;
  padding: 0 16px;
  line-height: 50px;
  box-sizing: border-box;
}

input {
  &::placeholder {
    color: $text-color-light;
  }
}

select {
  height: 50px;

  &:invalid {
    color: $text-color-light;
  }
}

.button {
  display: inline-block;
  padding: 0 18px;
  background: $button-color;
  border-radius: 4px;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.3s;

  &,
  &:focus,
  &:visited {
    color: #ffffff;
  }

  &:hover {
    background: darken($button-color, 8%);
    color: #ffffff;
    text-decoration: none;
  }
}

.button-white {
  background: #ffffff;
  border: 2px solid #C5CED7;
  box-sizing: border-box;

  &,
  &:focus,
  &:visited {
    background: #ffffff;
    color: $button-color;
  }

  &:hover {
    border-color: $button-color;
  }
}
